In [1]:
import pandas as pd 
from sqlalchemy import create_engine
server = 'rice-sqlcl-db'
database = 'SharadarEquity'
username = 'stocks'
password = '6LAZH1'
string = f"mssql+pymssql://{username}:{password}@{server}/{database}"
conn = create_engine(string).connect() 
df = pd.read_sql("select * from ghz", conn)
df = df.dropna(subset=["date"])

In [3]:
import pandas as pd 
df = pd.read_sql("select * from information_schema.tables", conn)

In [4]:
df

    TABLE_CATALOG TABLE_SCHEMA    TABLE_NAME  TABLE_TYPE
0  SharadarEquity          dbo           ghz  BASE TABLE
1  SharadarEquity          dbo   definitions  BASE TABLE
2  SharadarEquity          dbo       tickers  BASE TABLE
3  SharadarEquity          dbo        prices  BASE TABLE
4  SharadarEquity          dbo  fundamentals  BASE TABLE
5  SharadarEquity          dbo       metrics  BASE TABLE
6  SharadarEquity          dbo         today  BASE TABLE

In [6]:
df2 = pd.read_sql("select * from ghz", conn)

In [14]:
df2 = df2.dropna(subset=["date"])

In [15]:
df2

,siccd,date,roeq,roaq,acc,agr,bm,ep,gma,lev,...,ticker,name,exchange,sicsector,sicindustry,famaindustry,sector,industry,scalemarketcap,scalerevenue
0,3826.0,2025-03-21,0.053917,0.026845,-0.041392,0.100623,0.153532,0.033554,0.328440,0.154834,...,A,AGILENT TECHNOLOGIES INC,NYSE,Manufacturing,Laboratory Analytical Instruments,Measuring and Control Equipment,Healthcare,Diagnostics & Research,5 - Large,5 - Large
1,3334.0,2025-03-21,0.038476,0.013891,-0.039273,-0.006429,0.534768,0.006222,0.130767,0.923633,...,AA,ALCOA CORP,NYSE,Manufacturing,Primary Production Of Aluminum,Steel Works Etc,Basic Materials,Aluminum,5 - Large,5 - Large
10,6770.0,2025-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AACT,ARES ACQUISITION CORP II,NYSE,Finance Insurance And Real Estate,Blank Checks,Trading,Industrials,Shell Companies,3 - Small,None
19,4512.0,2025-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AAL,AMERICAN AIRLINES GROUP INC,NASDAQ,Transportation Communications Electric Gas And...,Air Transportation Scheduled,Transportation,Industrials,Airlines,5 - Large,5 - Large
20,6770.0,2025-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AAM,AA MISSION ACQUISITION CORP,NYSE,Finance Insurance And Real Estate,Blank Checks,Trading,Industrials,Shell Companies,3 - Small,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15077,2834.0,2025-03-21,0.111005,0.040468,-0.032711,-0.003430,0.064587,0.033661,0.457581,0.128185,...,ZTS,ZOETIS INC,NYSE,Manufacturing,Pharmaceutical Preparations,Pharmaceutical Products,Healthcare,Drug Manufacturers - Specialty & Generic,5 - Large,4 - Mid
15079,5600.0,2025-03-21,0.046530,0.022840,-0.034390,-0.044179,1.343560,-0.006996,0.456230,1.249328,...,ZUMZ,ZUMIEZ INC,NASDAQ,Retail Trade,Retail-Apparel & Accessory Stores,Retail,Consumer Cyclical,Apparel Retail,3 - Small,3 - Small
15084,2834.0,2025-03-21,-0.512240,-0.186577,-0.215495,0.033657,0.092548,-0.246177,0.093978,0.323056,...,ZVRA,ZEVRA THERAPEUTICS INC,NASDAQ,Manufacturing,Pharmaceutical Preparations,Pharmaceutical Products,Healthcare,Biotechnology,3 - Small,1 - Nano
15089,3560.0,2025-03-21,0.022944,0.013458,-0.049836,-0.006937,0.245618,0.024797,0.265092,0.164339,...,ZWS,ZURN ELKAY WATER SOLUTIONS CORP,NYSE,Manufacturing,General Industrial Machinery & Equipment,Machinery,Industrials,Pollution & Treatment Controls,4 - Mid,4 - Mid
15091,2834.0,2025-03-21,-0.064053,-0.048252,-0.025056,-0.202777,0.369421,-0.133797,0.131359,0.135572,...,ZYME,ZYMEWORKS INC,NASDAQ,Manufacturing,Pharmaceutical Preparations,Pharmaceutical Products,Healthcare,Biotechnology,4 - Mid,3 - Small